@font-face {
    font-family: Source Code Pro;
    src: url('fonts/SourceCodePro-VariableFont_wght.ttf');
}

@font-face {
    font-family: skincake;
    src: url('fonts/Skincake.ttf');
}

@font-face {
    font-family: brocats;
    src: url('fonts/Brocats.ttf');
}